# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# VS Code
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Gradle
.gradle/

# Local config
local.properties

# Android build files
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof